* {
    padding: 0;
    margin: 0;
}

body {
    background-color: springgreen;
}

.container {
    margin: 100px 0 0 100px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
}

img {
    width: 200px;
    height: 200px;
}

.end {
    position: absolute;
    top: 400px;
    left: 400px;
}

.unvisible {
    display: none;
}
